dist
apps/api/storage/receipts/*
!apps/api/storage/receipts/.gitkeep
.wrangler
.output
.vercel
.netlify
.vinxi
.nitro
.solid-start
.pnpm-store
app.config.timestamp_*.js

# Environment
.env
.env*.local
/data/*.sqlite
/data/*.sqlite-*
/apps/api/data/*.sqlite
/apps/api/data/*.sqlite-*
/apps/api/data/*.sqlite
/apps/api/data/*.sqlite-*

# dependencies
**/node_modules/
*.tsbuildinfo

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
