@use "~/shared/styles/functions" as fn;

.root {
    padding-block: var(--space-4);
    border-block-end: 1px solid var(--color-border);
    background-color: var(--color-surface);
}

.inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-5) var(--space-7);
    align-items: center;
    justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: fn.rem(10);
	font-weight: var(--font-weight-bold);
	font-size: fn.rem(16);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
    align-items: center;
}

.nav-link {
	border: fn.rem(1) solid transparent;
	padding: var(--space-4) var(--space-6);
	border-radius: fn.rem(20);
	color: var(--color-text-secondary);
	text-decoration: none;
	transition-duration: var(--duration-fast);
	transition-property: color, border-color, background-color;
	transition-timing-function: var(--ease-standard);

	&:not(.active-link) {
		&:hover {
			background-color: var(--color-surface-subtle);
			color: var(--color-primary);
		}
	}
}

.active-link {
	border-color: var(--color-border);
	color: var(--color-text-primary);
	pointer-events: none;
}
