@use "~/shared/styles/mixins" as mx;

.page {
    overflow-y: auto;
    display: grid;
    flex-grow: 1;
    place-items: center;

    min-block-size: 0;
    padding-block: var(--space-9);
}

.wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 52fr) minmax(0, 48fr);
    gap: 1px;

    min-block-size: 39.875rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-xl);

    @include mx.media-mn(768) {
        background-color: var(--color-border);
    }
}

.welcome {
    display: none;

    @include mx.media-mn(768) {
        display: flex;
    }
}

@media (width <= 47.999rem) {
    .page {
        place-items: start center;
        padding-block: 0;
    }

    .wrapper {
        grid-template-columns: minmax(0, 1fr);
        min-block-size: 100dvh;
        border: 0;
        border-radius: 0;
    }
}
