.page {
	flex-grow: 1;
	display: grid;
	place-content: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 52% 48%;
	background-color: var(--color-border);
	border: 1px solid var(--color-border);
	gap: 1px;
	border-radius: 15px;
	overflow: hidden;
}

.item {
	background-color: #fff;
	padding: 64px;
}

.title {
	margin-block-end: var(--space-4);
}

.sub-title {
	margin-block-end: var(--space-4);
}

.description {
	margin-block-end: 160px;
}

.privacy {
	margin-block-end: var(--space-8);
}

.sub-item {
	display: grid;
	gap: var(--space-2);
}

.welcome {
	display: grid;
	place-content: center;
	place-items: center;
	text-align: center;
}

.id {
	--border-width: 2px;
	--size: 50px;

	border-radius: var(--radius-round);
	border: var(--border-width) solid var(--color-primary);
	line-height: calc(var(--size) - var(--border-width) * 2);
	inline-size: var(--size);
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	color: var(--color-primary);
	text-transform: uppercase;
	font-weight: 600;
	margin-block-end: var(--space-4);
}

.welcome-description {
	margin-block-end: var(--space-6);
}

.or {
	width: 100%;
	margin-block: var(--space-8);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 1px;
		width: 100%;
		background-color: var(--color-border);
	}

	&::after {
		content: attr(data-text);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding-inline: 8px;
		color: var(--color-text-secondary);
	}
}

.no-key {
	margin-block-start: var(--space-4);
}
