@use "@/shared/styles/mixins" as mx;

.page {
    overflow-y: auto;
    display: grid;
    flex-grow: 1;
    place-items: start center;

    min-block-size: 0;

    @include mx.media-mn(768) {
        place-items: center;
        padding-block: var(--space-9);
    }
}

.wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1px;

    min-block-size: 100dvh;

    @include mx.media-mn(768) {
        grid-template-columns: minmax(0, 52fr) minmax(0, 48fr);

        min-block-size: 39.875rem;
        border: 1px solid var(--color-border);
        border-radius: var(--radius-xl);

        background-color: var(--color-border);
    }
}

.welcome {
    display: none;

    @include mx.media-mn(768) {
        display: flex;
    }
}
