@use "~/shared/styles/mixins" as mx;

.root {
    flex-direction: column;
    justify-content: space-between;

    min-inline-size: 0;
    padding: var(--space-10);

    background-color: var(--color-surface);

    @include mx.media-mn(960) {
        padding: var(--space-12);
    }
}

.logo {
    --size: 2.25rem;

    display: grid;
    place-content: center;

    aspect-ratio: 1;
    inline-size: var(--size);
    margin-block-end: var(--space-8);
    border-radius: var(--radius-md);

    font-size: var(--font-size-body-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--size);
    color: var(--color-text-inverse);

    background-color: var(--color-primary);
}

.intro {
    max-inline-size: 28rem;
}

.title {
    margin-block-end: var(--space-4);
}

.details {
    max-inline-size: 28rem;
}

.privacy {
    margin-block-end: var(--space-8);
}

.item {
    display: grid;
    gap: var(--space-2);
}

@media (width <= 47.999rem) {
    .root {
        padding: var(--space-8);
    }

    .logo {
        margin-block-end: var(--space-5);
    }

    .details {
        display: none;
    }
}
