@use "~/shared/styles/mixins" as mx;

.root {
    display: grid;
    place-content: center;
    place-items: center;

    min-inline-size: 0;
    padding-block: var(--space-10);

    text-align: center;

    @include mx.media-mn(768) {
        padding-inline: var(--space-10);
        background-color: var(--color-surface);
    }

    @include mx.media-mn(960) {
        padding: var(--space-12);
    }
}

.title {
    margin-block-start: var(--space-4);
}

.welcome-description {
    max-inline-size: 23rem;
    margin-block: var(--space-4) var(--space-6);
}

.error {
    min-block-size: 1.25em;
    margin: var(--space-4) 0 0;

    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    color: var(--color-danger);
    text-align: center;
}

.or {
    position: relative;
    inline-size: 100%;
    margin-block: var(--space-8);

    &::before {
        content: "";

        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);

        inline-size: 100%;
        block-size: 1px;

        background-color: var(--color-border);
    }

    &::after {
        content: attr(data-text);

        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);

        display: block;

        padding-inline: var(--space-4);

        color: var(--color-text-secondary);

        background-color: var(--color-canvas);

        @include mx.media-mn(768) {
            background-color: var(--color-surface);
        }
    }
}

.no-key {
    max-inline-size: 23rem;
    margin-block-start: var(--space-4);
}
